{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">
  <div class="alert alert-danger">
  <h2>Confirmar Exclusão</h2>
  <p>
    Tem certeza que deseja excluir o cliente <strong>{{ cliente.nome }}</strong>?</p>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Sim, excluir</button>
      <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
